/*D:*/

.tamanio {
    height: 25px;
    width: 25px;
}

.cuadrado {
    transform: rotate(45deg);
    margin-left: 50px;
}

.b {
    background: blue;
    margin-left: 25px;
    margin-top: -25px;
}

.c {
    margin-left: 50px;
    margin-top: -25px;
}

.d {
    background: blue;
}

.e {
    background: red;
    margin-left: 25px;
    margin-top: -25px;
}

.f {
    background: blue;
    margin-left: 50px;
    margin-top: -25px;
}

.h {
    background: blue;
    margin-left: 25px;
    margin-top: -25px;
}

.i {
    margin-left: 50px;
    margin-top: -25px;
}

.contenedor {
    margin-left: 170px;
}

.c1 {
    height: 50px;
    width: 80px;
    border: 15px solid yellow;
    border-top: none;
    position: absolute;
    top: 10px;
}

.c2 {
    height: 20px;
    width: 20px;
    border: 15px solid yellow;
    position: absolute;
    top: 11px;
    left: 207px;
    border-top: none;
}

.c3 {
    position: absolute;
    background: yellow;
    width: 12px;
    height: 115px;
    left: 226px;
    top: 22px;
}

.c4 {
    position: absolute;
    background: yellow;
    width: 80px;
    height: 12px;
    left: 192px;
    top: 90px;
}